@import "~bootstrap/scss/bootstrap";

@import "variables";
@import "overrides";

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center url("/static/img/loading.gif") #fff;
  opacity: 0.75;
  z-index: 2;
}

body {
  padding-bottom: $footer-height;

  &[class*="loading"]:not([data-errors]) {
    #loading-overlay {
      display: block;
    }
  }

  &.showing-box-office {
    &[data-username] #save-button,
    &[data-anonymous] #login-link {
      display: inline-block;
    }

    [id*="matchups"] {
      display: none;
    }
  }

  &[data-editable] #edit-button,
  &[data-editable] #upload-image-button {
    display: inline-block;
  }

  > .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    line-height: $footer-height;

    .container, .container-fluid {
      > span:not(:first-of-type):before {
        content: " \0000B7 ";
      }
    }
  }
}

.navbar {
  margin-bottom: $top-margin;
}

.navbar-brand em {
  font-style: normal;
  color: $secondary;
}

#save-button,
#login-link,
#edit-button,
#upload-image-button {
  display: none;
}

.social-login-icon {
  height: 32px;
  width: 32px;
}

.movies-list {
  margin-top: 4px;

  .badge {
    margin-top: 4px;
    margin-right: 4px;

    .close {
      color: $white;
      font-size: inherit;
      margin-left: 4px;
    }
  }
}

.login-state {
  /* Featured users get a star! */
  span.username.featured:before {
    content: "\2606 ";
  }

  > span:not(:first-of-type):before {
    content: " | ";
  }
}

.title {
  font-weight: normal;
  letter-spacing: -2px;

  &:hover {
    font-weight: normal;
    text-decoration: none;
  }
}
