@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

/* without this the nav bar seems to have double inner padding */
.navbar .container-fluid {
  padding: 0;
}

@include media-breakpoint-between(sm, lg) {
  .container {
    padding: 0;
  }
}

body[data-username] {
  .navbar-toggler {
    border: none;
  }
}

.navbar-toggler .navbar-avatar {
  border-radius: 20px;
}

/* typeahead styling
 * mostly stolen from https://gist.github.com/mixisLv/f7872a90a8a31157e80364f08c955102
 */
.twitter-typeahead {
  width: 100%;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}
.tt-hint {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #999;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;

}
.tt-suggestion {
  display: block;
  padding: 3px 20px;
}
.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  color: #fff;
  background-color: #428bca;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}

/* editor overrides */
.CodeMirror,
.CodeMirror-scroll {
  min-height: 100px;
}

.CodeMirror-scroll {
  height: auto;
}

/* social sharing fixes */
.sharethis-inline-share-buttons {
  margin-bottom: 10px;

  /* prevent reflow when buttons load */
  height: 32px;
}
.sharethis-inline-share-buttons .st-btn {
  /* for some reason these are a little too wide w/o this */
  width: 32px;
}
.sharethis-inline-share-buttons .st-btn svg {
  /* ...and these are a little off-center otherwise */
  left: -2px;
}

/* chart legend styling */
.highcharts-legend-item a {
  color: inherit;
}
