<header>
    <h1 class="display-4">
        <a class="title" href="{{url}}">{{title}}</a>

        <a class="btn btn-link" id="embed-button" href="{{ embedUrl }}" target="_blank" title="Embed this chart">
            <img src="/static/icons/graph.svg" />
        </a>
        {{#canEdit}}
        <button class="btn btn-link" id="edit-button" title="Edit" data-toggle="modal" data-target="#edit-dialog">
            <img src="/static/icons/pencil.svg" />
        </button>
        <button class="btn btn-link d-none d-lg-inline-block" id="upload-image-button" title="Upload image" data-toggle="modal" data-target="#upload-image-dialog">
            <img src="/static/icons/image.svg" />
        </button>
        {{/canEdit}}
    </h1>
</header>
