@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "../css/variables";
@import "../css/mixins";

body[data-matchup-slug] {
  .container-fluid {
    max-width: $max-full-width;
  }
}

body[class*="loading"] {
  .matchup {
    visibility: hidden;
  }
}

.container-fluid {
  .matchup-banner {
    @include media-breakpoint-only(xl) {
      height: $matchup-banner-aspect-ratio * $max-full-width;
    }
  }
}

.container {
  .matchup-banner {
    @include media-breakpoint-only(xl) {
      height: $matchup-banner-aspect-ratio * 1200;
    }
  }
}

.matchup-banner {
  position: relative;
  margin-top: -$top-margin;
  background-position: center;
  overflow: hidden;

  @include media-breakpoint-only(lg) {
    height: $matchup-banner-aspect-ratio * 936;
  }

  @include media-breakpoint-down(md) {
    height: $matchup-banner-aspect-ratio * 696;

    a.title {
      font-size: 75%;
    }
  }

  header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: inherit;
    background: rgba(255, 255, 255, 0.75);

    a.title {
      @include link-color($body-color);
    }

    #embed-button,
    #edit-button,
    #upload-image-button {
      height: 32px;
      width: 32px;

      img {
        height: 16px;
        width: 16px;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.matchup-details {
  margin: $spacer * 1.5 auto;

  line-height: 32px;

  img.avatar {
    float: left;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    margin-right: 8px;
  }

  small {
    display: block;
    line-height: 1;
    margin-bottom: 4px;
  }

  .matchup-created:before {
    content: "created ";
  }

  .matchup-updated:before {
    content: "updated ";
  }
}

.matchup-description {
  blockquote {
    /* taken from .blockquote */
    margin-bottom: $spacer;
    font-size: $blockquote-font-size;

    /* taken from .text-muted */
    color: $text-muted;

    padding-left: 16px;
  }

  img {
    max-width: 100%;
  }
}

/* mostly taken from cropit demo:
 * https://github.com/scottcheng/cropit/blob/master/demo/image-background.html
 */
.image-editor {
  .cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #ccc;
    margin: 30px auto;
    width: $max-full-width / 2;
    height: $matchup-banner-aspect-ratio * $max-full-width / 2;
  }

  .cropit-preview-image-container {
    cursor: move;
  }

  .cropit-preview-background {
    opacity: .2;
    cursor: auto;
  }
}
