@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#message-list {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 600px;
  margin-left: -300px;
  z-index: $zindex-modal + 1;

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
}
