@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.matchup-list {
  .media {
    &:not(:first-child) {
      /* taken from .border-top */
      border-top: $border-width solid $border-color;

      /* taken from .pt-2 */
      padding-top: $spacer * 0.5;
    }

    img {
      height: 32px;
      width: 32px;
    }
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .matchup-created:before {
    content: "created ";
  }

  .matchup-updated:before {
    content: "updated ";
  }

  .matchup-created,
  .matchup-updated {
    &:first-of-type:after {
      content: ", ";
    }
  }
}
