{{#matchups}}
<div class="media mb-2">
    <img class="avatar mr-2" src="{{creator.avatar}}" title="{{creator.username}}">
    <div class="media-body">
        <h5 class="my-0 font-weight-normal">
            <a href="/matchup/{{slug}}">{{title}}</a>
            {{#featured}}<small><span class="badge badge-pill badge-info">Featured</span></small>{{/featured}}
        </h5>
        <small class="matchup-created text-muted">{{created}}</small>
        <small class="matchup-updated text-muted">{{updated}}</small>
    </div>
</div>
{{/matchups}}
