<div class="modal-body">
    {{#creatingMatchup}}
    <p>
        Add some commentary and get a link to share with
        friends, family, and all of your adoring fans.
    </p>
    {{/creatingMatchup}}

    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" type="text" name="title" autofocus />
    </div>

    <div class="form-group">
        <label for="description">Commentary</label>
        <textarea class="form-control" type="text" name="description"></textarea>
    </div>

    <div class="form-group">
        <label for="movies">Movies</label>
        <input class="form-control" type="text" name="movies" autocomplete="off" />
    </div>

    <div class="form-group">
        <label for="period">Time Period</label>
        <select class="form-control" name="period">
            <option value="7d">1 week</option>
            <option value="30d" selected>30 days</option>
            <option value="90d">90 days</option>
            <option value="">Forever</option>
        </select>
    </div>

    {{#canFeature}}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" name="featured" />
        <label class="form-check-label" for="featured">Featured</label>
        <small class="form-text text-muted">Should this matchup be featured on the main page?</small>
    </div>
    {{/canFeature}}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <input class="btn btn-primary" type="submit" value="{{saveButtonLabel}}" />
</div>
