{% extends "layout.html" %}

{% block extra_assets %}
<script src="/static/compare.js?v={{app_version}}"></script>
{% endblock %}

{% block container_class %}container-fluid{% endblock %}

{% block content %}
<main class="container-fluid">
    <div class="row">
        <section class="col-lg-4">
            <p>
                See how different movies compare to each other in terms of their
                box office performance.
            </p>

            <form id="search-form" action="/boxoffice" method="GET">
                <div class="form-group">
                    <label for="movies">Movie Title(s)</label>
                    <input class="form-control" type="text" name="movies"
                        autocomplete="off" 
                        placeholder="Start typing to search for a movie" />
                </div>

                <div class="form-group">
                    <label for="period">Time Period</label>
                    <select class="form-control" name="period">
                        <option value="7d">1 week</option>
                        <option value="30d" selected>30 days</option>
                        <option value="90d">90 days</option>
                        <option value="">Forever</option>
                    </select>
                </div>

                <p>
                    <button class="btn btn-primary" id="save-button" data-toggle="modal" data-target="#save-dialog">Save and share</button>
                    <a class="btn btn-link" id="login-link" href="{% url 'login' %}">Log in to save</a>
                </p>
            </form>
        </section>

        <section class="col-lg-8">
            <div id="daily-results"></div>
            <div id="cumulative-results"></div>
            <div id="multiple-results"></div>
            <div id="daily-change-results"></div>
            <div id="theaters-results"></div>
            <div id="per-theater-results"></div>
            <div id="weekly-change-results"></div>
        </section>
    </div>

    <div class="modal" id="save-dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Save matchup</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>

                <form id="save-form" action="{{create_matchup_url}}" method="POST"
                    {% if user.is_authenticated and user.featured %}data-featured-contributor="true"{% endif %}>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
