<html>

<head>
    <title>Box Office Hawk</title>
    <style>
    .instructions { text-align: center; }
    .instructions pre {
        margin: 1.5rem auto;
        max-width: 600px;
        color: #212529;
        background-color: #e2e3e5;
        border: 1px solid #d6d8db;
        padding: .75rem 1.25rem;
        white-space: pre-wrap;
        text-align: left;
    }
    .instructions pre code {
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        font-size: 87.5%;
    }
    </style>
    <script src="/static/embed.js?v={{app_version}}"></script>
</head>

<body data-matchup-url="{{ matchup_url }}" data-matchup-view-url="{{ matchup_view_url }}">
    <div id="chart"></div>

    {% if include_instructions %}
    <section class="instructions">
        <p>To embed this chart, use the following:</p>
        <pre><code>&lt;iframe src="{{ embed_url }}" style="border: none; min-height: 400px; min-width: 600px;"&gt;&lt;/iframe&gt;</code></pre>
    </section>
    {% endif %}
</body>
