{% extends "layout.html" %}

{% block extra_assets %}
<script src="/static/index.js?v={{app_version}}"></script>
{% endblock %}

{% block content %}
<main class="container">
    <section id="featured-matchups">
        <h1 class="display-3 d-none d-md-block">Featured movie matchups</h1>
        <div class="matchup-list" data-matchups-url="{{featured_matchups_url}}"></div>
    </section>
</main>
{% endblock %}
