{% load base %}

<html>

<head>
    <title>{% block page_title %}Box Office Hawk{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="/static/layout.js?v={{app_version}}"></script>
    {% block extra_assets %}{% endblock %}
</head>

<body {% if user.is_authenticated %}data-username="{{ user.username }}"{% else %}data-anonymous="true"{% endif %}
    {% block body_attributes %}{% endblock %}>

    <div id="loading-overlay"></div>

    <div id="message-list" data-messages="{{ messages|json }}"></div>

    {% block wrapper %}
    <nav class="navbar navbar-static-top navbar-expand-lg navbar-light bg-light">
        <div class="{% block container_class %}container{% endblock %}">
            <a class="navbar-brand" href="{% url 'index' %}">boxoffice<em>hawk</em></a>

            <!-- large screens -->
            <a class="create-matchup btn btn-sm btn-outline-primary d-none d-lg-block" href="{% url 'compare' %}">Compare some movies</a>
            <!-- /large screens -->

            <!-- small screens -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                {% if user.is_authenticated %}
                <img class="navbar-avatar" src="{{ user|avatar:40 }}" />
                {% else %}
                <span class="navbar-toggler-icon"></span>
                {% endif %}
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto d-lg-none">
                    <li class="navbar-item">
                        <a class="nav-link" href="{% url 'index' %}">Featured matchups</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="navbar-item">
                        <a class="nav-link" href="{% url 'profile' %}">My matchups</a>
                    </li>
                    {% endif %}
                    <li class="navbar-item">
                        <a class="nav-link" href="{% url 'compare' %}">&plus; Create a matchup</a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="navbar-item">
                        {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                        {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Log in</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <!-- /small screens -->

            <!-- large screens -->
            <span class="login-state navbar-text d-none d-lg-block">
                {% if user.is_authenticated %}
                <span>Logged in as <span class="username{% if user.featured %} featured{% endif %}"><a href="{% url 'profile' %}">{{ user.username }}</a></span></span>
                <span><a href="{% url 'logout' %}">Log out</a></span>
                {% else %}
                <span><a href="{% url 'login' %}">Log in</a></span>
                <span><a href="{% url 'register' %}">Register</a></span>
                {% endif %}
            </span>
            <!-- /large screens -->
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="footer d-none d-lg-block bg-light">
        <div class="{% block footer_container_class %}container{% endblock %} text-muted">
            <span><small>&copy; {% now 'Y' %} <a href="http://philosopherdeveloper.com">Dan Tao</a></small></span>
            <span><small><a href="https://twitter.com/boxofficehawk">@boxofficehawk</a></small></span>
            <span><small><a href="https://bitbucket.org/teamdtao/boxofficehawk/">Source</a></small></span>
        </div>
    </footer>
    {% endblock %}
</body>

{% block analytics %}
{% if ga_tracking_id %}
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', '{{ga_tracking_id}}', 'auto');

// automatically track pageview events on URL changes (from pushState)
ga('require', 'urlChangeTracker');

ga('send', 'pageview');
</script>
<script async src="https://www.google-analytics.com/analytics.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.1/autotrack.js"></script>
{% endif %}
{% endblock %}

</html>
