{% extends "layout.html" %}

{% block page_title %}Box Office Hawk – Log in{% endblock %}

{% block wrapper %}
<main class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <header class="mt-2">
                <h1><a class="title" href="{% url 'index' %}">box office hawk</a></h1>
                <p class="lead">log in below or <a href="{% url 'register' %}">register for an account</a></p>
            </header>

            <form method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" {% if username %}value="{{ username }}" {% endif %}/>
                    {% if errors.username %}
                    <small class="form-text text-danger">{{ errors.username }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" />
                    {% if errors.password %}
                    <small class="form-text text-danger">{{ errors.password }}</small>
                    {% endif %}
                </div>

                <input class="btn btn-primary" type="submit" value="Log in" />
            </form>

            {% if social_auth_facebook_key %}
            <p class="lead border-top mt-4">other login options</p>
            <div><a href="{% url 'social:begin' 'facebook' %}"><img class="social-login-icon" src="/static/img/facebook.png" title="Facebook" /></a></div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}
