{% extends "layout.html" %}

{% block extra_assets %}
<script src="/static/matchup.js?v={{app_version}}"></script>

{% if allow_sharing %}
<script src="https://platform-api.sharethis.com/js/sharethis.js#property={{sharethis_property_id}}&product=inline-share-buttons"></script>
{% endif %}
{% endblock %}

{% block body_attributes %}data-matchup-slug="{{ slug }}"{% endblock %}

{% block container_class %}container{% if layout == 'original' %}-fluid{% endif %}{% endblock %}
{% block footer_container_class %}container{% if layout == 'original' %}-fluid{% endif %}{% endblock %}

{% block content %}
<main class="matchup container{% if layout == 'original' %}-fluid{% endif %}"{% if image_url %} data-image-url="{{image_url}}"{% endif %} data-matchup-url="{{matchup_url}}" data-embed-url="{{embed_url}}">
    <div class="row">
        <section class="matchup-banner col-lg"></section>
    </div>

    <div class="row">
        <section class="matchup-content col-lg">
            <article>
                <p class="matchup-details"></p>

                {% if allow_sharing %}
                <div class="sharethis-inline-share-buttons"></div>
                {% endif %}

                <section class="matchup-description"></section>
            </article>
        </section>

        {% if layout == 'original' %}
        <section class="matchup-charts col-lg">
            <div id="daily-results"></div>
            <div id="cumulative-results"></div>
            <div id="multiple-results"></div>
            <div id="daily-change-results"></div>
            <div id="theaters-results"></div>
            <div id="per-theater-results"></div>
            <div id="weekly-change-results"></div>
        </section>
        {% endif %}
    </div>
</main>

<div class="modal" id="edit-dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit matchup</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <form id="edit-form" action="{{matchup_url}}" method="PUT"
                {% if user.is_authenticated and user.featured %}data-featured-contributor="true"{% endif %}>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="upload-image-dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload matchup image</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <form id="upload-image-form" action="{{upload_url}}" method="POST">
                <div class="modal-body">
                    <div class="image-editor">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input cropit-image-input" name="upload">
                            <label class="custom-file-label" for="upload">Choose file</label>
                        </div>
                        
                        <div class="cropit-preview"></div>

                        <div class="form-group">
                            <input type="range" class="custom-range cropit-image-zoom-input">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary" type="submit" value="Save" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
