{% extends "layout.html" %}

{% block page_title %}Box Office Hawk – Register{% endblock %}

{% block wrapper %}
<main class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <header class="mt-2">
                <h1><a class="title" href="{% url 'index' %}">box office hawk</a></h1>
                <p class="lead">register for an account below or <a href="{% url 'login' %}">log in</a> if you already have one</p>
            </header>

            <form method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" name="username" {% if username %}value="{{ username }}" {% endif %}/>
                    {% if errors.username %}
                    <small class="form-text text-danger">{{ errors.username }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="real_name">Real name</label>
                    <input class="form-control" type="text" name="real_name" placeholder="Optional" {% if real_name %}value="{{ real_name }}" {% endif %}/>
                    {% if errors.real_name %}
                    <small class="form-text text-danger">{{ errors.real_name }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="email">E-mail address</label>
                    <input class="form-control" type="text" name="email" {% if email %}value="{{ email }}" {% endif %}/>
                    {% if errors.email %}
                    <small class="form-text text-danger">{{ errors.email }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" />
                    {% if errors.password %}
                    <small class="form-text text-danger">{{ errors.password }}</small>
                    {% endif %}
                </div>

                <div class="form-group">
                    <label for="password_confirmation">Confirm password</label>
                    <input class="form-control" type="password" name="password_confirmation" />
                    {% if errors.password_confirmation %}
                    <small class="form-text text-danger">{{ errors.password_confirmation }}</small>
                    {% endif %}
                </div>

                <input class="btn btn-primary" type="submit" value="Register" />
            </form>
        </div>
    </div>
</main>
{% endblock %}
