{{#matchups}}
{{#imageUrl}}
<div class="matchup" style="background-image: url('{{imageUrl}}');">
    <div class="header">
        <h3>
            <a href="/matchup/{{slug}}">{{title}}</a>
            {{#featured}}<small><span class="badge badge-pill badge-info">Featured</span></small>{{/featured}}
        </h3>
        <small class="matchup-created text-muted">{{created}}</small>
    </div>
</div>
{{/imageUrl}}
{{/matchups}}
