@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "../css/mixins";
@import "../css/variables";

.matchup-list {
  .matchup {
    margin-bottom: $spacer * 1.5;

    position: relative;
    background-size: cover;
    background-position: center;

    @include media-breakpoint-only(xl) {
      height: $matchup-banner-aspect-ratio * 1110;
    }

    @include media-breakpoint-only(lg) {
      height: $matchup-banner-aspect-ratio * 936;
    }

    @include media-breakpoint-only(md) {
      height: $matchup-banner-aspect-ratio * 696;
    }

    @include media-breakpoint-down(sm) {
      height: $matchup-banner-aspect-ratio * 516;
    }

    .header {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 8px 12px;
      background-color: rgba(255, 255, 255, 0.75);

      h3 {
        font-weight: $font-weight-normal;
        margin-bottom: 0;
      }

      .matchup-created {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

  a {
    @include link-color($body-color);

    &:hover {
      text-decoration: none;
    }
  }
}
